.ai-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
}

/* Floating Button */
.ai-floating-btn {
  width: 60px;
  height: 60px;
  background: #497ce4;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.3s;
}
.ai-floating-btn:hover {
  transform: scale(1.1);
}

/* Chat Window */
.ai-box {
  width: 320px;
  height: 420px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Header */
.ai-header {
  background: #497ce4;
  color: white;
  padding: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 14px 14px 0 0;
}

/* Messages */
.ai-messages {
  padding-right: 4px;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.ai-messages::-webkit-scrollbar{
  width: 4px;
}
.api-messages::-webkit-scrollbar-thumb{
  background: #b1b1b1;
  border-radius: 2px;
}
.msg-user {
  background: #497ce4;
  color: white;
  padding: 8px;
  max-width: 80%;
  border-radius: 10px 10px 2px 10px;
  margin: 8px 0;
  margin-left: auto;
}

.msg-bot {
  background: #ececec;
  padding: 8px;
  max-width: 80%;
  border-radius: 10px 10px 10px 2px;
  margin: 8px 0;
  margin-right: auto;
}
/* .msg-user{
  background: #141414;
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  margin-left: auto;
  max-width: 75%;
} */

.typing {
  opacity: 0.7;
  font-style: italic;
}

/* Input Box */
.ai-input {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ccc;
}

.ai-input input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.ai-input button {
  background: #497ce4;
  color: white;
  border: none;
  margin-left: 6px;
  padding: 8px 14px;
  border-radius: 6px;
}

